<h1>Привет от Rails!</h1>
<p>
Сейчас <%= @time %>
</p>
<h1> 1 плюс 2 = <%=1+2%> </h1>
<h1> обьединение это <%= "cow" + "boy" %> </h1>
<h2> Время через час будет: <%=1.hour.from_now%> <h2>
<h4> Список обьектов на файловой системе </h4>
<ul><% for file in @files %> 
	<li>file name is: <%= file %></li>
	<% end %>
</ul>
<p>
Пора сказать
<%= link_to "до свидания", say_goodbye_path %>!
</p>
